/*
 * Color theme:
 * Elegant Color Palette from
 * https://abhijitrawool.com/restaurant-website-color-palettes/
 */

/********** Universal styles **********/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
}

/********** Heading styles **********/
h1,
h2,
h3 {
    color: #494449;
}

h1 {
    margin: 16px;
}

h2 {
    background-color: #ddeac1;
    text-align: center;
    margin: 16px 0 0 0;
    border: 4px solid #857f74;
    padding: 4px;
}

h3 {
    background-color: #eeefeb;
    margin: 0;
    padding: 0 16px;
}

/********** Content styles **********/
img {
    width: 500px;
    height: auto;
    margin-left: 16px;
}

p,
ul,
ol {
    background-color: #eeefeb;
    margin: 0;
    padding: 16px;
}

ul,
ol {
    padding-left: 40px;
}

li {
    width: 744px;
}

.back-to-main {
    margin: 0 0 16px 16px;
}

.credit {
    margin: 16px 0 0 16px;
}